@import url("/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  :root {
    &,
    &.light-mode {
      --background-app-rgb: 255, 255, 255;
      --color-primary-900: 255, 95, 21;
      --color-primary-800: 255, 111, 44;
      --color-primary-700: 255, 127, 68;
      --color-primary-600: 255, 143, 91;
      --color-primary-500: 255, 159, 115;
      --color-primary-400: 255, 175, 138;
      --color-primary-300: 255, 191, 161;
      --color-primary-200: 255, 207, 185;
      --color-primary-100: 255, 223, 208;
      --color-primary-50: 255, 239, 232;
      --color-secondary-900: 31, 33, 45;
      --color-secondary-800: 31, 41, 55;
      --color-secondary-700: 55, 65, 81;
      --color-secondary-600: 75, 85, 99;
      --color-secondary-500: 107, 114, 128;
      --color-secondary-400: 156, 163, 175;
      --color-secondary-300: 209, 213, 219;
      --color-secondary-200: 229, 231, 235;
      --color-secondary-100: 243, 244, 246;
      --color-secondary-50: 249, 250, 251;
      --color-secondary-0: 255, 255, 255;
      --color-success: 0, 192, 115;
      --color-warning: 255, 153, 0;
      --color-error: 255, 71, 87;
      --color-red-500: 239, 68, 68;
      --color-red-300: 252, 165, 165;
      --color-gradiant-900: 56, 39, 41;
    }
    &.dark-mode {
      --color-secondary-900: 249, 250, 251;
      --color-secondary-800: 243, 244, 246;
      --color-secondary-700: 229, 231, 235;
      --color-secondary-600: 209, 213, 219;
      --color-secondary-500: 156, 163, 175;
      --color-secondary-400: 107, 114, 128;
      --color-secondary-300: 75, 85, 99;
      --color-secondary-200: 55, 65, 81;
      --color-secondary-100: 31, 41, 55;
      --color-secondary-50: 17, 24, 39;
      --color-secondary-0: 24, 33, 47;
      --backdrop-color: 0, 0, 0;
    }
  }
}



@layer components {
  .textField__input {
    @apply text-sm md:text-base py-3 px-4 rounded-md text-secondary-900 border border-secondary-100 bg-secondary-0 hover:border-primary-200 focus:border-primary-300 transition-all duration-300 ease-out focus:shadow-sm focus:shadow-primary-200 dark:focus:shadow-secondary-200;
  }
  .btn {
    @apply px-4 py-2 md:px-5 text-sm md:text-base font-bold transition-all duration-300 block;
  }
  .btn--primary {
    @apply bg-primary-900 text-secondary-0 hover:bg-secondary-0 hover:text-primary-900 rounded-md;
  }
  .btn--secondary {
    @apply bg-secondary-0 text-primary-900 hover:bg-primary-900 hover:text-secondary-0 rounded-md;
  }
  .btn--outline {
    @apply border border-primary-900;
  }
  .badge {
    @apply inline-block whitespace-nowrap rounded-xl px-2 py-0.5 text-sm;
  }
  .badge--primary {
    @apply bg-primary-900 text-secondary-0;
  }
  .badge--secondary {
    @apply bg-secondary-200 text-secondary-600;
  }
  .icon{
    @apply w-4 h-4 lg:w-5 lg:h-5 text-secondary-50;
  }
  .icon-container{
    @apply bg-primary-900 p-2  rounded-full;
  }
  .icon-container--primary{
    @apply bg-primary-900 p-2 md:p-3 rounded-full;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Vazir";
  min-height: 100vh;
  user-select: none;
  background-color: rgb(var(--background-app-rgb));
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: none; */
  outline: none;
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
}

button {
  cursor: pointer;
  outline: none;
}
button:disabled {
  cursor: default;
  background-color: rgb(var(--color-secondary-100), 0.5);
  pointer-events: none;
  box-shadow: none;
}

/* inupt number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}



.outline-title {
font-family: sans-serif;
   color: rgb(var(--color-secondary-0),1);
   text-shadow:
       1px 1px 0 rgb(var(--color-primary-900),1),
     -1px -1px 0 rgb(var(--color-primary-900),1), 
      1px -1px 0 rgb(var(--color-primary-900),1),
      -1px 1px 0 rgb(var(--color-primary-900),1);
     
}

.section{
  margin-top: 5rem;
}